@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');


:root
 {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    background-color: var(--light-grayish-blue);

    margin: 6vh 8vw;;
}

main
{
    display: grid;

    grid-template-columns: repeat(4,260px);
    grid-template-rows: repeat(2,260px) ;

    gap: 25px 30px;
    grid-template-areas: "daniel daniel jonathan kira"
        "jeanette patrick patrick kira";
}

h3{
    text-wrap: nowrap;
}

span {
    display: block;
    color: var(--light-gray);
    opacity: 70%;
}

img {
    display: block;
    /* max-width: 28px; */
    border-radius: 50%;
    margin-right: 15px;
}

.patrick img {
    border: 2px solid var(--moderate-violet);
}

.daniel img, .jonathan img{
    border: 2px solid var(--light-gray);
}
   
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    border-radius: 8px;
}

.card p{
    font-weight: 500;
    font-size: 18px;
    margin: 5px auto;

}

.daniel p, .daniel, .daniel h3 , blockquote, .jonathan p,.jonathan h3, 
.jonathan blockquote, .patrick p, .patrick h3 , .patrick blockquote {
    color: var(--white);
}

.jeanette p, .jeanette blockquote, .kira p, .kira blockquote {
    color: var(--very-dark-blackish-blue);
}

.daniel, blockquote, .jonathan blockquote, .patrick blockquote, .jeanette blockquote, .kira blockquote {
    opacity: 70%;
}

.author {
    display: flex;
    align-items: center;
}

.daniel {

    background-color: var(--moderate-violet);
    grid-area: daniel;
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
     background-attachment: local; 
     background-position: 80% 0%; 

}

.jonathan
{
   grid-area: jonathan;
   background-color: var(--very-dark-blackish-blue);
}

.kira
{
  grid-area: kira;
  background-color: var(--white);
}

.jeanette
{
   grid-area: jeanette;
   background-color: var(--white);
}

.patrick
{
    grid-area: patrick;
    background-color: var(--very-dark-blackish-blue);
}


@media (max-width: 375px) 
{
    main{
        
        display: grid;
        grid-template-rows: repeat(5,auto);
        grid-template-columns: 300px;

        grid-template-areas: 
          "daniel"
          "jonathan"
          "jeanette"
          "patrick"
          "kira"; 

          gap: 10px;

    }
    
    .card {
        padding: 25px;
    }


    .card p {
        margin: 15px auto;
    }
}
